.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
}

.count {
  color: var(--secondary-color);
  font-weight: bold;
}
