.container {
  position: relative;
  line-height: 0; /* 일부 이미지에서 하단 여백 생기는 문제 수정 */
  overflow: hidden;
}

.image {
  position: relative !important;
  height: unset !important;
  object-fit: cover;
}
