.container {
  height: var(--gnb-height);
  position: sticky;
  top: 0;
  z-index: var(--z-gnb);
  background: var(--gray-0);
}
.innerContainer {
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
}
