.container {
  height: var(--gnb-height);
  position: sticky;
  top: 0;
  z-index: var(--z-gnb);
  background: var(--bg-color);
  box-shadow: inset 0 -1px 0 0 var(--border-color);
}
.innerContainer {
  height: 100%;
  display: flex;
  padding: unset !important; /** unset "width-limit" class padding-x */
}
