.container {
  display: none;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dashed var(--border-color);
  max-width: var(--max-width-without-padding);
}
@media screen and (min-width: 1000px) {
  .container {
    display: block;
  }
}

.subText {
  color: var(--text-secondary);
  margin-top: 0.6em;
}
