.checkbox {
  display: none;
}
.checkbox:checked ~ .overlay {
  visibility: visible;
  opacity: 0.5;
}
.checkbox:checked ~ .container {
  visibility: visible;
  transform: translate3d(0, 0, 0) !important;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-drawer);
  visibility: hidden;
  opacity: 0;
  background: black;
  transition: opacity;
  transition-duration: 500ms;
}

.container {
  max-width: 100%;
  position: fixed;
  z-index: calc(var(--z-drawer) + 1);
  visibility: hidden;
  background: var(--gray-0);
  transition: all;
  transition-duration: 500ms;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  --drawer-header-height: 50px;
}

.header {
  height: var(--drawer-header-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.headerCloseButton {
  padding: 10px;
  font-size: 25px;
}

.content {
  height: calc(100vh - var(--drawer-header-height));
  overflow: auto;
  padding-bottom: 60px;
}
