:root {
  --brand-50: #dcf6ff;
  --brand-100: #aedfff;
  --brand-200: #7ec7ff;
  --brand-300: #4db1ff;
  --brand-400: #219bfe;
  --brand-500: #0d82e5;
  --brand-600: #0065b3;
  --brand-700: #004881;
  --brand-800: #002b50;
  --brand-900: #000f20;

  --gray-0: #ffffff;
  --gray-50: #edf3f8;
  --gray-100: #d5d8dc;
  --gray-200: #bbbec2;
  --gray-300: #a0a5aa;
  --gray-400: #858b92;
  --gray-500: #6b7178;
  --gray-600: #53585f;
  --gray-700: #3b3f44;
  --gray-800: #23262a;
  --gray-900: #070e13;

  --kakaotalk-yellow: #fae100;
  --kakaotalk-brown: #371d1e;
  --naver-green: #2cb24a;
  --naver-white: #f1f1f2;
}
:root {
  --primary-color: var(--brand-400);
  --primary-color-rgb: 33, 155, 254;
  --secondary-color: var(--brand-700);
  --tertiary-color: var(--brand-50);
  --bg-color: var(--gray-0);
  --bg-secondary-color: var(--gray-50);
  --bg-dimmed-color: rgba(0, 0, 0, 0.6);
  --border-color: var(--gray-100);
  --border-darken-color: var(--gray-400); /* 구분선이 명확하면 좋을 때 사용 */
  --text-white: var(--gray-0);
  --text-default: var(--gray-700);
  --text-static: var(--gray-900);
  --text-secondary: var(--gray-400);
  --active-color: var(--brand-600);
  --active-secondary-color: var(--brand-100); /* on bg secondary */
  --hover-color: var(--brand-500);
  --hover-secondary-color: var(--brand-100); /* on bg secondary */
  --disabled-color: var(--gray-400);
  --disabled-bg: var(--gray-100);
  --card-box-shadow: -1px 2px 10px 4px rgb(0 0 0 / 5%);

  --app-padding-x: 16px;
  --app-padding-y: 20px;
  --app-max-width: calc(1000px + 2 * var(--app-padding-x));
  --app-max-width-without-padding: 1000px; /* padding-x를 고려하지 않아도 되고, border top, border bottom을 표시해야하는 컨테이너에 사용 */
  --border-radius: 4px;

  --gnb-height: 50px;

  --z-breadcrumb: 99;
  --z-gnb: 100;
  --z-drawer: 1000;
}
@media screen and (min-width: 1000px) {
  :root {
    --app-padding-x: 20px;
    --gnb-height: 90px;
  }
}

::selection {
  background: var(--secondary-color);
  color: var(--text-white);
}

body {
  font-family: 'Noto Sans', 'Nanum Gothic', 'Malgun Gothic', sans-serif;
  background: var(--bg-color);
  color: var(--text-default);
  text-rendering: optimizeLegibility;
  scroll-padding-top: var(--gnb-height);
  text-size-adjust: 100%;
}

main {
  box-sizing: border-box;
}
main:not([data-landing='true']) {
  padding-top: var(--app-padding-y);
  padding-bottom: var(--app-padding-y);
}
main:not([data-landing='true']),
.width-limit {
  width: 100%;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding-left: var(--app-padding-x);
  padding-right: var(--app-padding-x);
}
