:root {
  --brand-50: #dcf6ff;
  --brand-100: #aedfff;
  --brand-200: #7ec7ff;
  --brand-300: #4db1ff;
  --brand-400: #219bfe;
  --brand-500: #0d82e5;
  --brand-600: #0065b3;
  --brand-700: #004881;
  --brand-800: #002b50;
  --brand-900: #000f20;

  --gray-0: #ffffff;
  --gray-50: #edf3f8;
  --gray-100: #d5d8dc;
  --gray-200: #bbbec2;
  --gray-300: #a0a5aa;
  --gray-400: #858b92;
  --gray-500: #6b7178;
  --gray-600: #53585f;
  --gray-700: #3b3f44;
  --gray-800: #23262a;
  --gray-900: #070e13;
}
:root {
  --padding-x: 16px;
  --max-width: calc(1000px + 2 * var(--padding-x));
  --border-radius: 4px;
  --primary-color: var(--brand-400);
  --secondary-color: var(--brand-700);
  --tertiary-color: var(--brand-50);
  --bg-color: var(--gray-0);
  --bg-secondary-color: var(--gray-50);
  --bg-dimmed-color: rgba(0, 0, 0, 0.6);
  --border-color: var(--gray-100);
  --text-white: var(--gray-0);
  --text-default: var(--gray-700);
  --text-static: var(--gray-900);
  --text-secondary: var(--gray-400);
  --active-color: var(--brand-600);
  --active-secondary-color: var(--brand-100); /* on bg secondary */
  --hover-color: var(--brand-500);
  --hover-secondary-color: var(--brand-100); /* on bg secondary */
  --disabled-color: var(--gray-400);
  --disabled-bg: var(--gray-100);

  --gnb-height: 50px;

  --z-breadcrumb: 99;
  --z-gnb: 100;
  --z-drawer: 1000;
}
@media screen and (min-width: 1000px) {
  :root {
    --padding-x: 20px;
    --gnb-height: 90px;
  }
}

body {
  font-family: 'Noto Sans', 'Nanum Gothic', 'Malgun Gothic', sans-serif;
  background: var(--bg-color);
  color: var(--text-default);
  text-rendering: optimizeLegibility;
  scroll-padding-top: var(--gnb-height);
  text-size-adjust: 100%;
}

main {
  box-sizing: border-box;
}
main:not([data-home='true']) {
  padding-top: 20px;
  padding-bottom: 20px;
}
main:not([data-home='true']),
.width-limit {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}
