/**
 * hero
 */
.hero {
  width: 100%;
  height: calc(100vh - var(--gnb-height));
  background: url('/home-bg.jpg') no-repeat center/cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--bg-dimmed-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-white);
}
.overlay.heroOverlay {
  padding: 0 var(--padding-x);
}

.heroTitle {
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: -1px;
}
@media screen and (min-width: 1000px) {
  .heroTitle {
    font-size: 3em;
  }
}
.heroTitleAuto {
  color: var(--primary-color);
  margin-left: 0.4em;
  padding-right: 0.2em;
  border-right: 0.1em solid;
  animation: blink-caret 1s step-end infinite;
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

.heroSubTitle {
  margin-top: 1.6em;
  color: var(--tertiary-color);
}

.heroDescription {
  margin-top: 10px;
}

/**
 * preview cards
 */
.previewCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: row dense;
  gap: 2.5rem 1rem;
  padding: 2em 0;
}

.previewCard {
  position: relative;
  border-radius: var(--border-radius);
}

.overlay.previewCardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
}

.previewCardImage {
  border-radius: inherit;
}

.preivewCardLabel {
  position: relative;
  width: max-content;
}
.previewCard:hover .preivewCardLabel:after {
  content: '';
  position: absolute;
  top: calc(50% + 1.4em);
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: currentColor;
  will-change: width;
  animation: stretch 0.2s forwards;
}
@keyframes stretch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/**
 * customer cards
 */
/*.customerCardsBg {*/
/*  width: 100%;*/
/*  background: var(--bg-secondary-color);*/
/*}*/
/*.customerCards {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
/*  grid-template-rows: 300px;*/
/*  column-gap: 1rem;*/
/*  padding: 2em 0;*/
/*}*/
/*.customerCard {*/
/*  position: relative;*/
/*  border-radius: var(--border-radius);*/
/*  background: var(--bg-color);*/
/*}*/
