.header {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.image {
  position: relative;
  width: calc(var(--app-max-width) * 0.4);
  max-width: 100%;
}
