.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section .sectionHeaderTitle {
  font-weight: bold;
}

.section:nth-last-of-type(odd):not(:only-of-type) {
  background-color: var(--bg-secondary-color);
}

.sectionHeader {
}
.sectionHeader .sectionHeaderTitle {
  font-weight: bold;
  position: relative;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 0.8em;
}
.sectionHeader.sectionHeaderLeft .sectionHeaderTitle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
}
.sectionHeader.sectionHeaderCenter {
  text-align: center;
}
.sectionHeader.sectionHeaderCenter .sectionHeaderTitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 2px;
  background-color: var(--primary-color);
}

.sectionHeaderSubTitle {
}
.sectionHeaderCaption {
  margin-top: 20px;
  color: var(--text-secondary);
}

.sequence {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: row dense;
  gap: 28px 20px;
  margin-top: 32px;
}
.sequenceItem {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--border-radius);
  background: var(--bg-color);

  --content-height: 100px;
}
.sequenceItem:last-of-type {
  outline: 2px groove var(--primary-color);
}
@media screen and (min-width: 1000px) {
  .sequenceItem {
    --content-height: 105px;
  }
}
.sequenceItemImage {
  flex: 1;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.sequenceItemOrder {
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  left: 50%;
  bottom: var(--content-height);
  transform: translate(-50%, calc(50% - 10px));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--text-white);
}
.sequenceItemContent {
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  text-align: center;
}
.sequenceItemContentCaption {
  color: var(--text-secondary);
  text-wrap: balance;
}

.typesHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--secondary-color);
  border-top: 5px solid var(--secondary-color);
  background: var(--bg-color);
  margin: 40px 0 28px;
  padding: 12px 0;
}
.typesHeader b {
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing: -0.5px;
}
.types {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: row dense;
  gap: 28px 20px;
}
.typesItem {
  background: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
}
