.container {
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  gap: 4px;
  align-items: center;
  padding: 10px;
  background: var(--secondary-color);
  color: var(--gray-0);
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .container {
    display: none;
  }
}
